<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <title>Home</title>
</head>

<body class="w-screen h-screen bg-zinc-800 text-white">
  <div class="flex justify-between items-center text-center p-4">
    <h2 class="text-xl">Home</h2>
    <div class="flex items-center gap-4">
      <a href="/user/signup" class="py-2 px-3 bg-blue-500 rounded-md">Sign up</a>
      <a href="/user/login" class="py-2 px-3 bg-blue-500 rounded-md">Login</a>
    </div>
  </div>

  <div class="posts p-4 flex flex-col">
    <h3 class="text-[18px] text-zinc-400 mb-2 flex m-auto">All posts</h3>
    <div class="post-container w-[100%] m-auto flex gap-4 flex-wrap">

      <% posts.reverse().forEach(function(post, user) { %>
        <div class="post w-1/6 p-2 border-[1px] border-zinc-700 mt-4 rounded-lg">
          <h4 class="text-md mb-2 text-blue-500">
            @someone
          </h4>
          <p class="text-sm tracking-tight">
            <%= post.content %>
          </p>
          <div class="flex mt-2 text-sm gap-4">
            <div class="flex gap-1">
              <p>
                <%= post.likes.length %> likes
              </p>
            </div>
          </div>
        </div>

        <% }) %>
    </div>
  </div>
</body>

</html>