<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://cdn.jsdelivr.net/npm/@tailwindcss/browser@4"></script>
  <style>
    input{
      border: 2px solid white;
      padding: 10px 10px;
      max-width: 300px;
      border-radius: 5px;
      outline: 0;
    }
  </style>
  <title>Login</title>
</head>

<body class="w-screen h-screen bg-zinc-800 text-white p-8">
  <h2 class="text-2xl mb-8">Login</h2>
  <form class="w-full" action="/login" method="post">
    <div class="flex gap-4 flex-col">

      <label for="">Email</label>
      <input type="email" placeholder="Enter email" name="email">

      <label for="">Password</label>
      <input type="password" placeholder="Enter password" name="password">
    </div>
    <button type="submit" class="mt-6 px-4 py-2 bg-blue-500 rounded-lg cursor-pointer">Login</button>
  </form>

</body>

</html>